<a href="{% url 'home' %}">Home</a>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'signup' %}">Signup</a>
<a href="{% url 'question' 1 %}">Question</a>
<a href="{% url 'ask' %}">Ask</a>
<a href="{% url 'popular' %}">Popular</a>
<a href="{% url 'new' %}">New</a>
<hr>

{{ question.title }}
<br>{{ question.text }}
<hr>
{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors }} below.
    </p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>

<hr>
{% for answer in question.answer_set.all %}
    {{ answer.text }}
    <hr>
{% endfor %}
